<div id="base">
    <router-outlet></router-outlet>
    <div class="container-fluid row d-flex justify-content-center">
        <a class="card" routerLink="/employee-login">Employee</a>
        <a class="card" routerLink="/admin-login">Admin</a>
    </div>
    <button routerLink="/employee-registration" style="margin:300px;">click</button>
    <button class="btn btn-success" routerLink="/ticket-registration" style="margin:400px;">click</button>
</div>
<img id="dubaimage" src="../../assets/Images/dubai-uae.jpg">
